<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to 'Back', articles_path, class: 'btn btn-success' %>
<div class="row" style="margin-top: 10px">
  <div class="col-md-12">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= @article.title %></h4>
        <h6 class="card-subtitle text-muted">Author: <%= @article.user.email %></h6>
      </div>
      <hr id="article-show">
      <div class="card-block">
        <p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
      </div>
      <div class="card-footer">
        <% if current_user && @article.user_id == current_user.id %>
          <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
          <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        <% end %>
        <div style="float: right">
          Comments: <%= @article.comments.count %> |
          <i class="fa fa-eye" aria-hidden="true"></i> <%= @article.view_count %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4>Comments:</h4>
    <div class="card card-footer">
      <% @comments.each do |comment| %>
        <p><b><%= comment.user.email %></b>: <%= comment.content %></p>
        <hr>
      <% end %>
      <%= form_for([@article, @article.comments.build]) do |f| %>
        <div class="form-group">
          <%= f.text_field :content, class: 'form-control', placeholder: 'Leave a comment...' %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-3">
              <input type="submit" class="form-control btn btn-success" value="Comment">
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
