<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/head' %>
<div class="page-wrap container" style="margin-top: 50px">
  <%= yield %>
</div>
<%= render 'shared/footer' %>
</body>
<style type="text/css">
  #notice {
    color: green;
  }
  html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .foot, .page-wrap:after {
    height: 50px;
  }
</style>
</html>
